body{
    background-image: url(..//assets/blue.jpg);
    background-size: 100%;
    background-repeat: repeat;
}
main{
    position: relative;
    margin: 30px auto;
    width: 1000px;
    min-height: 300px;
    background-color: cadetblue;
}
#butter{
    text-align: center;
    border-bottom: 3px solid darkgreen;
}
.mush{
    display: inline-block;
    font-size: 25px;
}
#inicio{
  position: relative;
  left: 350px;
}
#blog{
    position: relative;
    left: 500px;
}
#slideshow button{
    width: 120px;
    height: 120px;
    border-radius: 100%;
    cursor: pointer;
    border: 5px solid white;
    vertical-align: top;
}
#slideshow button:hover{
    background-color: green;

}
.definicion{
    position: relative;
    left: 270px;
}
.regla{
    position: relative;
    left: 330px;
}
.selectores{
    position: relative;
    left: 400px;
}
#main1{
    position: relative;
    width: 1000px;
    min-height: 300px;
    border-top: 4px solid red;
}
#qr{
    position: relative;
    left: 20px;
    top: 15px;
}
#wi{
    position: relative;
    font-size: 20px;
    width: 800px;
    top: 20px;
    left: 50px;
}
#main2{
    border-top: 4px solid chartreuse;
    min-height: 500px;
}
#z2{
    position: relative;
    left: 20px;
    top: 15px;
    font-size: 23px;
}
#z3{
    position: relative;
    font-size: 20px;
    top: 20px;
    left: 50px;
}
#z4{
     position: relative;
     font-size: 20px;
     top: 30px;
     left: 80px;
     font-weight: bold;
}
#pic{
    position: relative;
    top: 70px;
    left: 300px;
}
#main3{
   position: relative;
   border-top: 4px solid brown;
   width: 1578px;
}
.y1{
    border: 1px solid black;
}
#b2{
    position: relative;
    display: inline-block;
    vertical-align: top;
}
.sk{
    position: relative;
    display: block;
    border: 1px solid black;
}
.rk{
    position: relative;
    display: block;
    border: 1px solid black;
}
.zk{
    position: relative;
    display: block;
    border: 1px solid black;
}
.vq{
    position: relative;
    display: block;
    border: 1px solid black; 
}
.w{
   display: inline-block;
}






    